/*ELEMENT STYLES*/
/* @import url(font path)  */

body {
    color: #333;
    height: 768px;
    width: 1024px;
    margin: 0px;
    padding: 0px;
}
div{
    box-sizing: border-box;
}
html {
    color: #333;
    background-size: cover;
    height: 768px;
    width: 1024px;
    font-family: "Segoe UI";
}
.navigationbar ul {
    font-weight: 400;
    list-style: none;
    margin: 0 10px;
    padding: 0;
}
.navigationbar ul li {
    display: block;
    font-weight: 400;
    padding: 5px 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #CCCCCC;
    background-color: rgba(0,0,0,0.35);
    border-right: 4px solid rgba(120, 120, 120, 0.25)
}
.navigationbar ul li span {
    padding-left: 15px;
    width: 100%;
    font-size: 16px; 
}
.navigationbar li:hover {
    background-color: rgba(60, 60, 60, 0.35);
    color: #FFF;
    cursor: default;
}
.pages li {
    display: block;
    font-weight: 400;
    padding: 5px 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    /* vertical-align: middle; */
    color: #CCCCCC;
    background-color: rgba(0, 0, 0, 0.35);
}
.pages li:hover{
    background-color: rgba(60, 60, 60, 0.35);
    color: #FFF;
    cursor: default;
}
.pages ul{
    font-weight: 400;
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

p {
    text-align: center;
    padding: 10px;
    position: absolute;
}

/*ID STYLES*/
#buttonDiv {
    width: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    padding: 12px;
}
#button-osd {
    margin-top: 0;
    padding-top: 0;
}
#buttonExit, #buttonHome {
    margin: 2px;
}
#container{
    display: inline-block;
    height: 768px;
    width: 1024px;
    background: url(images/helmet-grey-blur.png);
}
#content{
    height: 600px;
    width: 1024px;
    margin-top: 25px;
    color: white;
}
#footer{
    display: inline-block;
    height: 50px;
    width: 1024px;
    padding-left: 30px;
    background: rgba(0, 0, 0, 0.00);
}
#header{
    height: 81px;
    width: 1024px;
    border-bottom: 2px solid rgba(122, 122, 122, 0.35);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-right: 20px;
    color: rgba(204, 204, 204, 0.75);
    letter-spacing: 3px;
    font-weight: 200;
}
#header > h1{
    margin: 0;
}
#outputDiv{
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}
/* #page-DISM {} */
/* #page-flushfill {} */
/* #page-landing {} */
/* #page-OSD {} */
/* #page-software-install {} */
/* #page-tools {} */
/* #page-USMT {} */
/* #task-selection-div {} */
/* #osdInput {}
/* #softwareDiv {} */
/* #softwareInput {} */

/*CLASS STYLES*/
.button {
    background-color: darkred;
    border: none;
    padding: 12px 28px;
    cursor: default;
    color: #CCC;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color: rgb(149,23,23);
    border: none;
    padding: 12px 28px;
    cursor: default;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:active{
    background-color: black;
    border: none;
    padding: 12px 28px;
    cursor: default;
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.categoryDiv {
    background: rgba(0,
    0,
    0,
    0.5);
    padding: 15px;
    border-radius: 10px;
}
.categoryHeader {
    width: 740px;
    height: 50px;
    font-size: 1.17em;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    color: rgba(204, 204, 204, 1);
    background-color: rgba(139,0,0,0.6);
}
.icon {
    display: inline-block;
    height: 75px;
    width: 75px;
    vertical-align: middle;
}
.inputDiv {
    border: none;
    width: 100%;
    height: auto;
    padding: 5px;
}
.listOSD{
    display: list-item;
}
.navigationbar {
    position: relative;
    float: left;
    height: 600px;
    width: 264px;
    background: rgb(34, 45, 50, 0.1);
}
.pages {
    position: relative;
    float: right;
    height: 600px;
    width: 760px;

}
.tpmError {
    color: darkred;
    font-style: bold;
}
.tpmStatus {
    color: darkred;
    font-style: bold;
    animation-name: tpmFrames;
    animation-duration: 12s;
    animation-timing-function: liner;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    perspective: 1000px;
}
.tpmStatus span:nth-child(3n+1) {
    animation: tpmEP0 10s infinite both
}
.tpmStatus span:nth-child(3n+2) {
    animation: tpmEP1 10s infinite both
}
.tpmStatus span:nth-child(3n+3) {
    animation: tpmEP2 10s infinite both
}
@keyframes tpmFrames {
    0% {
        color: firebrick;
    }
    50% {
        color: red;
    }
    100% {
        color: firebrick;
    }
}
@keyframes tpmEP0 {
    from,
    5%,
    10%,
    15%,
    20%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    5% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    10% {
        transform: translate3d(0, -10px, 0);
    }
    15% {
        transform: translate3d(0, 5px, 0);
    }
    20% {
        transform: none;
    }
    95% {
        transform: none;
    }
    98% {
        transform-origin: left bottom;
        opacity: 1;
    }
    100% {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
}
@keyframes tpmEP1 {
    from,
    10%,
    15%,
    20%,
    25%,
    30%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    10% {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    15% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    20% {
        transform: translate3d(0, -10px, 0);
    }
    25% {
        transform: translate3d(0, 5px, 0);
    }
    30% {
        transform: none;
    }
    95% {
        transform: none;
    }
    98% {
        transform-origin: middle bottom;
        opacity: 1;
    }
    100% {
        transform-origin: middle bottom;
        transform: rotate3d(1, 0, 0, 45deg);
        opacity: 0;
    }
}
@keyframes tpmEP2 {
    from,
    20%,
    25%,
    30%,
    35%,
    40%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    20% {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    25% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    30% {
        transform: translate3d(0, -10px, 0);
    }
    35% {
        transform: translate3d(0, 5px, 0);
    }
    40% {
        transform: none;
    }
    95% {
        transform: none;
    }
    98% {
        transform-origin: right bottom;
        opacity: 1;
    }
    100% {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }
}