/*ELEMENT STYLES*/
/* @import url(font path)  */
input:focus {
    outline: none !important;
}
body {
    color: #333;
    height: 768px;
    width: 1024px;
    margin: 0px;
    padding: 0px;
}
br {
    display: block;
    margin: 1px;
}
div{
    box-sizing: border-box;
}
html {
    color: #333;
    background-size: cover;
    height: 768px;
    width: 1024px;
    font-family: "Segoe UI";
}
h1, h2, h3, h4 {
    font-weight: 400;
}
h4 {
    font-size: 15px;
}
.navigation-bar ul {
    font-weight: 400;
    list-style: none;
    margin: 0 10px;
    padding: 0;
}
.navigation-bar ul li {
    display: block;
    font-weight: 400;
    padding: 5px 10px;
    margin-top: 13px;
    margin-bottom: 13px;

}
.navigation-bar ul li span {
    padding-left: 15px;
    width: 100%;
    font-size: 16px; 
}
.pages li {
    display: block;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    /* vertical-align: middle; */
    color: #CCCCCC;
    /* background-color: rgba(0, 0, 0, 0.35); */
}
/* .pages li:hover{
    background-color: rgba(85, 85, 85, 0.10);
    color: #FFF;
    cursor: default;
} */
.pages ul {
    font-weight: 400;
    list-style: none;
    margin: 0px;
    padding: 0;
}

p {
    /* text-align: center; */
    font-size: 12px;
}

/*ID STYLES*/
.accordion h3 {
    padding: 1em 2.2em;
    margin: 1px;
}
.accordion div {
    padding: 10px;
}
.ui-corner-all {
    border-radius: 0px;
}
.ui-state-default {
    border: 1px solid rgba(70, 120, 110, 1);
    background: rgba(70, 120, 110, 0.6);
    font-weight: bold;
    color: #fafafa;
}
.ui-widget-content {
    background: rgba(85, 85, 85, 0.10);
    border: 1px solid rgba(80, 80, 80, 0.5);
    color: #CCCCCC;
}
#button-osd {
    margin-top: 0;
    padding-top: 0;
}
#container {
    display: inline-block;
    height: 768px;
    width: 1024px;
    background: url(images/helmet-grey-blur2.png);
}
#content {
    display: inline-block;
    vertical-align: top;
    height: 680px;
}
#main {
    height: 708px;
    width: 1024px;
    color: white;
}
.on-load {
    opacity: 0;
}
#header {
    height: 60px;
    /* height: 81px; ORIGINAL HEIGHT WITHOUT BORDER*/
    width: 1024px;
    /* border-bottom: 2px solid rgba(255, 0, 0, 0.50); */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-right: 20px;
    color: rgba(205, 205, 205, 0.75);
    letter-spacing: 3px;
    font-weight: 200;
}
#header, #main {
    background-color: rgba(0, 0, 0, 0.25);
}
#header > h1 {
    margin: 0;
}

/* #page-DISM {} */
/* #page-flushfill {} */
/* #page-landing {} */
/* #page-OSD {} */
/* #page-software-install {} */
/* #page-tools {} */
/* #page-USMT {} */
/* #task-selection-div {} */
/* #osdInput {}
/* #softwareDiv {} */
/* #softwareInput {} */

#general-output {
    background: rgba(0, 0, 0, 0.75);
    color: #CCC;
    border: 3px double rgba(70, 120, 110, 0.6);
    width: 355px;
    height: 582px;
    margin: 7px 0px 0px 5px;
    padding: 10px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    overflow: auto;
    position: relative;
}
#run-LoadState{
    display: none;
}

/*CLASS STYLES*/
.small-button {
    padding: 4px 6px;
    margin: 5px;
}
.button, .small-button {
    background-color: darkred;
    border: none;
    cursor: default;
    color: #CCC;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    outline: none;
}
.button {
    padding: 10px 20px;
    margin: 5px;
}
.button:hover, .small-button:hover {
    background-color: rgb(149, 23, 23);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.40);
    border: none;
    color: #FFF;
}
.button:active, .small-button:active {
    background-color: rgb(126, 23, 23);
    border: none;
    color: #FFF;
}
.button-nav, .button-exithome {
    background-color: rgba(85, 85, 85, 0.10);
    border: 1px solid rgba(70, 70, 70, 0.75);
    color: #CCCCCC;
    outline: none;
}
.active, .button-nav:hover, .button-nav:focus, .button-exithome:hover {
    background-color: rgba(95, 95, 95, 0.2);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.40);
    border: 1px solid rgb(90, 90, 90);
    color: #FFF;
    cursor: default;
}
.button-exithome {
    padding: 12px 23px;
    cursor: default;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 7px 0px 7px;
}
.tools-button-bar {
    background-color: none!important;
    text-align: center;
    padding: 50px 0px;
}
.category-div {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
}
.category-header {
    width: 100%;
    min-height: 50px;
    font-size: 1.17em;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    color: #CCCCCC;
    background-color: rgba(139,0,0,0.6);
}
.drive-input {
    text-align: center;
}
.icon {
    display: inline-block;
    height: 75px;
    width: 75px;
    vertical-align: middle;
}
.icon-tools, .icon-only {
    display: inline-block;
    height: 25px;
    width: 25px;
    /* border-radius: 25px; */
    vertical-align: middle;
}
.icon-tools {
    margin-right: 5px;
}
.li-content{
    display: block;
}
.list-osd {
    display: list-item;
}
.navigation-bar {
    position: relative;
    height: 680px;
    width: 264px;
    display: inline-block;
    background: rgb(34, 45, 50, 1);
    margin-top: 15px;
}
.navigation-bar, #content {
    margin-top: 15px;
}
.output-div {
    width: 365px;
    height: 550px;
    margin-left: 5px;
    margin-right: 10px;
    padding: 0px;
    background: rgba(104, 110, 175, 0.65);
    overflow: auto;
}
.pages {
    position: relative;
    display:inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 5px;
    width: 360px;
    height: 582px;
    border: none;
    overflow: auto;
}
.tpm-error {
    color: darkred;
    font-style: bold;
}
.tpm-status {
    color: darkred;
    font-style: bold;
    animation-name: tpmFrames;
    animation-duration: 12s;
    animation-timing-function: liner;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    perspective: 1000px;
}
.tpm-status span:nth-child(3n+1) {
    animation: tpmEP0 10s infinite both
}
.tpm-status span:nth-child(3n+2) {
    animation: tpmEP1 10s infinite both
}
.tpm-status span:nth-child(3n+3) {
    animation: tpmEP2 10s infinite both
}
@keyframes tpmFrames {
    0% {
        color: firebrick;
    }
    50% {
        color: red;
    }
    100% {
        color: firebrick;
    }
}
@keyframes tpmEP0 {
    from,
    5%,
    10%,
    15%,
    20%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    5% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    10% {
        transform: translate3d(0, -10px, 0);
    }
    15% {
        transform: translate3d(0, 5px, 0);
    }
    20% {
        transform: none;
    }
    95% {
        transform: none;
    }
    98% {
        transform-origin: left bottom;
        opacity: 1;
    }
    100% {
        transform-origin: left bottom;
        transform: rotate3d(0, 0, 1, -45deg);
        opacity: 0;
    }
}
@keyframes tpmEP1 {
    from,
    10%,
    15%,
    20%,
    25%,
    30%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    10% {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    15% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    20% {
        transform: translate3d(0, -10px, 0);
    }
    25% {
        transform: translate3d(0, 5px, 0);
    }
    30% {
        transform: none;
    }
    95% {
        transform: none;
    }
    98% {
        transform-origin: middle bottom;
        opacity: 1;
    }
    100% {
        transform-origin: middle bottom;
        transform: rotate3d(1, 0, 0, 45deg);
        opacity: 0;
    }
}
@keyframes tpmEP2 {
    from,
    20%,
    25%,
    30%,
    35%,
    40%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    20% {
        opacity: 0;
        transform: translate3d(0, -300px, 0);
    }
    25% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    30% {
        transform: translate3d(0, -10px, 0);
    }
    35% {
        transform: translate3d(0, 5px, 0);
    }
    40% {
        transform: none;
    }
    95% {
        transform: none;
    }
    98% {
        transform-origin: right bottom;
        opacity: 1;
    }
    100% {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }
}